/target
ent/target/
data/
.DS_Store
nohup.out
--data-dir
*.key
server.json
key_history.json
*.cha
.idea/
run/
dgj-server1/
xudanu/
web/app/app@*
web/app/tsc
docs/*.bak
original-code/xanadugold/docs/*.txt
original-code/xanadugold/docs/*.js
original-code/xanadugold/src-rust/.cargo/
