WorksBootMaker();
FromDiskPlan(
	Category(BeGrandMap),
	"ent.ent");
IPRendezvousListener(65003);
EchoThunk("Starting server loop");
SelectServerLoop(Category(FeServer),NULL);
EchoThunk("Left server loop");
NULL;
